body{
    background-color: rgb(201, 201, 201);
    }
    
    
    .post-container{
        background-color: white;
        height: 300px;
        /* display: flex;
        justify-content: center; */
        border-radius: 10px; /* 角を丸くする */
        overflow-y: auto;
    }
    
    .calender1{
        display: flex; /*横並び*/
        justify-content: center;
        margin-top: 80px;
    }
    
    .calendar2{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px; /* 角を丸くする */
    }
    
    .calendar2 > * {
        margin: 5px 0;
    }
    
    
    .calendar2>span{
        background-color: rgb(119, 119, 99);    
        border-radius: 10px; /* 角を丸くする */
    }
    
    .set-container>ul{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    
    .edit-delete{
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }

    .btn-sm{
        padding: 5px 10px;
        font-size: 12px;
    }

    
    /* スライダーを中央に配置 */
    .cyoushi-container {
        text-align: center;
        margin-top: 35px;
        background-color: white;
        border-radius: 10px;
        height: 210px;
    }
    /* アイコンを大きくして目立たせる */
    .icon {
        font-size: 30px;
        margin: 10px;
        color: white;
    }
    
    .form-range {
        /* グラデーションを背景に設定 */
        background: linear-gradient(to right, #ff9a9e, #fecfef);
        /* スライダーの高さを指定 */
        height: 10px;
        /* 角を丸くする */
        border-radius: 15px;
        /* ボックスシャドウを追加して立体感を演出 */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        /* スライダーのマーカーを透明にする */
        -webkit-appearance: none;
        appearance: none;
        /* マーカーのスタイルを指定 */
        cursor: pointer;
        outline: none;
        /* スライダーのレールを透明にする */
        background-color: #FFFFFF; /* スライダーの中身の色を白色に変更 */
        height: 25px;
    }

output{
    font-size: 65px;
}    

.days-container{
    background-color: white;
    display: flex;
    gap: 10px;
    overflow-y: auto;
    border-radius: 10px;
}