.container{
    max-width: 100%;
    height: 100%;
    background-color: blueviolet;

}

.calender1{
    background-color: yellow;
    display: flex; /*横並び*/
    justify-content: center;
    margin-bottom: 20px;
}

.calendar2{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.calendar2 > * {
    margin: 5px 0;
}


.calendar2>h4{
    background-color: yellow;    
}

