*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;

}

body{
    background-image: url('/img/welcome.jpg');
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(./goodview.jpg); */
    background-size: cover;
    background-position: center;
}

.antialiased{
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 530px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(257, 257, 257, .7);
    backdrop-filter: blur(15px);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}


.main-box{
    padding: 77px;
    width: 100%;
    /* background-color: bisque; */
}

.main-box h1{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
}

.btn-box-aa{
    margin-top: 180px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn {
    display: inline-block; /* Display as inline-block */
    font-size: 24px; /* Adjust font size */
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for better spacing */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
    text-decoration: none; /* Remove underline */
}

.btn:hover {
    background-color: #45a049; /* Darker green on hover */
    color: #fff; /* White text color on hover */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadow on hover */
}

